@import "tailwindcss";
@plugin "daisyui";
.bg-img {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  /* height: ; */
  /* width: 100%; */
  margin: auto;
}
